@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: theme('colors.background');
    color: theme('colors.foreground');
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading font-extrabold;
  }
}

/* Custom Utilities for Hide Scrollbar */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .glass {
    @apply bg-background/80 backdrop-blur-md border-b border-foreground/10;
  }
}
